.playlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f4f6;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .playlist-container h2 {
    font-size: 2rem;
    color: #4CAF50;
  }
  